# Binary folder
bin

# Object folder
obj

# Tags
tags
src/tags

# something else
rev.txt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
